@layer tailwind {
    @tailwind base;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: rgba(255, 255, 255, 1);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground-rgb);
  user-select: none;
  background: rgba(1, 16, 23);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button:focus-within {
  outline: none;
}

/* CSS Utils */
.h1 {
  padding-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #111928;
}

.h2 {
  font-size: 14px;
  font-weight: 500;
  color: #111928;
  line-height: 1.5;
}

.link {
  @apply cursor-pointer text-blue-600 transition-opacity duration-200 ease-in-out hover:opacity-80;
}

.text-gradient {
  background: linear-gradient(91.58deg, #2250f2 -29.55%, #0ebcf3 75.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* overwrite paging active dark model style  */
[class*="style_paginatio"] li .text-primary-600 {
  color: rgb(28 100 242);
  background-color: rgb(235 245 255);
}

/* support safari 14 and below */
.inset-0 {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}
