:root {
  --primary-color-contrast:var(--mantine-primary-color-contrast);
  --color-bright:var(--mantine-color-bright);
  --color-text:var(--mantine-color-text);
  --color-body:var(--mantine-color-body);
  --color-error:var(--mantine-color-error);
  --color-placeholder:var(--mantine-color-placeholder);
  --color-anchor:var(--mantine-color-anchor);
  --color-default:var(--mantine-color-default);
  --color-default-hover:var(--mantine-color-default-hover);
  --color-default-color:var(--mantine-color-default-color);
  --color-default-border:var(--mantine-color-default-border);
  --color-dimmed:var(--mantine-color-dimmed);
  --color-dark-text:var(--mantine-color-dark-text);
  --color-dark-filled:var(--mantine-color-dark-filled);
  --color-dark-filled-hover:var(--mantine-color-dark-filled-hover);
  --color-dark-light:var(--mantine-color-dark-light);
  --color-dark-light-hover:var(--mantine-color-dark-light-hover);
  --color-dark-light-color:var(--mantine-color-dark-light-color);
  --color-dark-outline:var(--mantine-color-dark-outline);
  --color-dark-outline-hover:var(--mantine-color-dark-outline-hover);
  --color-gray-text:var(--mantine-color-gray-text);
  --color-gray-filled:var(--mantine-color-gray-filled);
  --color-gray-filled-hover:var(--mantine-color-gray-filled-hover);
  --color-gray-light:var(--mantine-color-gray-light);
  --color-gray-light-hover:var(--mantine-color-gray-light-hover);
  --color-gray-light-color:var(--mantine-color-gray-light-color);
  --color-gray-outline:var(--mantine-color-gray-outline);
  --color-gray-outline-hover:var(--mantine-color-gray-outline-hover);
  --color-red-text:var(--mantine-color-red-text);
  --color-red-filled:var(--mantine-color-red-filled);
  --color-red-filled-hover:var(--mantine-color-red-filled-hover);
  --color-red-light:var(--mantine-color-red-light);
  --color-red-light-hover:var(--mantine-color-red-light-hover);
  --color-red-light-color:var(--mantine-color-red-light-color);
  --color-red-outline:var(--mantine-color-red-outline);
  --color-red-outline-hover:var(--mantine-color-red-outline-hover);
  --color-pink-text:var(--mantine-color-pink-text);
  --color-pink-filled:var(--mantine-color-pink-filled);
  --color-pink-filled-hover:var(--mantine-color-pink-filled-hover);
  --color-pink-light:var(--mantine-color-pink-light);
  --color-pink-light-hover:var(--mantine-color-pink-light-hover);
  --color-pink-light-color:var(--mantine-color-pink-light-color);
  --color-pink-outline:var(--mantine-color-pink-outline);
  --color-pink-outline-hover:var(--mantine-color-pink-outline-hover);
  --color-grape-text:var(--mantine-color-grape-text);
  --color-grape-filled:var(--mantine-color-grape-filled);
  --color-grape-filled-hover:var(--mantine-color-grape-filled-hover);
  --color-grape-light:var(--mantine-color-grape-light);
  --color-grape-light-hover:var(--mantine-color-grape-light-hover);
  --color-grape-light-color:var(--mantine-color-grape-light-color);
  --color-grape-outline:var(--mantine-color-grape-outline);
  --color-grape-outline-hover:var(--mantine-color-grape-outline-hover);
  --color-violet-text:var(--mantine-color-violet-text);
  --color-violet-filled:var(--mantine-color-violet-filled);
  --color-violet-filled-hover:var(--mantine-color-violet-filled-hover);
  --color-violet-light:var(--mantine-color-violet-light);
  --color-violet-light-hover:var(--mantine-color-violet-light-hover);
  --color-violet-light-color:var(--mantine-color-violet-light-color);
  --color-violet-outline:var(--mantine-color-violet-outline);
  --color-violet-outline-hover:var(--mantine-color-violet-outline-hover);
  --color-indigo-text:var(--mantine-color-indigo-text);
  --color-indigo-filled:var(--mantine-color-indigo-filled);
  --color-indigo-filled-hover:var(--mantine-color-indigo-filled-hover);
  --color-indigo-light:var(--mantine-color-indigo-light);
  --color-indigo-light-hover:var(--mantine-color-indigo-light-hover);
  --color-indigo-light-color:var(--mantine-color-indigo-light-color);
  --color-indigo-outline:var(--mantine-color-indigo-outline);
  --color-indigo-outline-hover:var(--mantine-color-indigo-outline-hover);
  --color-blue-text:var(--mantine-color-blue-text);
  --color-blue-filled:var(--mantine-color-blue-filled);
  --color-blue-filled-hover:var(--mantine-color-blue-filled-hover);
  --color-blue-light:var(--mantine-color-blue-light);
  --color-blue-light-hover:var(--mantine-color-blue-light-hover);
  --color-blue-light-color:var(--mantine-color-blue-light-color);
  --color-blue-outline:var(--mantine-color-blue-outline);
  --color-blue-outline-hover:var(--mantine-color-blue-outline-hover);
  --color-cyan-text:var(--mantine-color-cyan-text);
  --color-cyan-filled:var(--mantine-color-cyan-filled);
  --color-cyan-filled-hover:var(--mantine-color-cyan-filled-hover);
  --color-cyan-light:var(--mantine-color-cyan-light);
  --color-cyan-light-hover:var(--mantine-color-cyan-light-hover);
  --color-cyan-light-color:var(--mantine-color-cyan-light-color);
  --color-cyan-outline:var(--mantine-color-cyan-outline);
  --color-cyan-outline-hover:var(--mantine-color-cyan-outline-hover);
  --color-teal-text:var(--mantine-color-teal-text);
  --color-teal-filled:var(--mantine-color-teal-filled);
  --color-teal-filled-hover:var(--mantine-color-teal-filled-hover);
  --color-teal-light:var(--mantine-color-teal-light);
  --color-teal-light-hover:var(--mantine-color-teal-light-hover);
  --color-teal-light-color:var(--mantine-color-teal-light-color);
  --color-teal-outline:var(--mantine-color-teal-outline);
  --color-teal-outline-hover:var(--mantine-color-teal-outline-hover);
  --color-green-text:var(--mantine-color-green-text);
  --color-green-filled:var(--mantine-color-green-filled);
  --color-green-filled-hover:var(--mantine-color-green-filled-hover);
  --color-green-light:var(--mantine-color-green-light);
  --color-green-light-hover:var(--mantine-color-green-light-hover);
  --color-green-light-color:var(--mantine-color-green-light-color);
  --color-green-outline:var(--mantine-color-green-outline);
  --color-green-outline-hover:var(--mantine-color-green-outline-hover);
  --color-lime-text:var(--mantine-color-lime-text);
  --color-lime-filled:var(--mantine-color-lime-filled);
  --color-lime-filled-hover:var(--mantine-color-lime-filled-hover);
  --color-lime-light:var(--mantine-color-lime-light);
  --color-lime-light-hover:var(--mantine-color-lime-light-hover);
  --color-lime-light-color:var(--mantine-color-lime-light-color);
  --color-lime-outline:var(--mantine-color-lime-outline);
  --color-lime-outline-hover:var(--mantine-color-lime-outline-hover);
  --color-yellow-text:var(--mantine-color-yellow-text);
  --color-yellow-filled:var(--mantine-color-yellow-filled);
  --color-yellow-filled-hover:var(--mantine-color-yellow-filled-hover);
  --color-yellow-light:var(--mantine-color-yellow-light);
  --color-yellow-light-hover:var(--mantine-color-yellow-light-hover);
  --color-yellow-light-color:var(--mantine-color-yellow-light-color);
  --color-yellow-outline:var(--mantine-color-yellow-outline);
  --color-yellow-outline-hover:var(--mantine-color-yellow-outline-hover);
  --color-orange-text:var(--mantine-color-orange-text);
  --color-orange-filled:var(--mantine-color-orange-filled);
  --color-orange-filled-hover:var(--mantine-color-orange-filled-hover);
  --color-orange-light:var(--mantine-color-orange-light);
  --color-orange-light-hover:var(--mantine-color-orange-light-hover);
  --color-orange-light-color:var(--mantine-color-orange-light-color);
  --color-orange-outline:var(--mantine-color-orange-outline);
  --color-orange-outline-hover:var(--mantine-color-orange-outline-hover);
}
