{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindPreserveDuplicates": false,
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": [
    "cx"
  ],
  "semi": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none"
}
