@import '@mantine/core/styles/global.css';
@import '@mantine/core/styles/AppShell.css';
@import '@mantine/core/styles/AppShell.layer.css';
@import '@mantine/core/styles/Avatar.css';
@import '@mantine/core/styles/Avatar.layer.css';
@import '@mantine/core/styles/ThemeIcon.css';
@import '@mantine/core/styles/ThemeIcon.layer.css';
@import '@mantine/core/styles/Flex.css';
@import '@mantine/core/styles/Flex.layer.css';
@import '@mantine/core/styles/ScrollArea.css';
@import '@mantine/core/styles/ScrollArea.layer.css';
@import '@mantine/core/styles/Input.css';
@import '@mantine/core/styles/Input.layer.css';
@import '@mantine/core/styles/List.css';
@import '@mantine/core/styles/List.layer.css';
@import '@mantine/core/styles/Stack.css';
@import '@mantine/core/styles/Stack.layer.css';


/* 👇 Make sure the styles are applied in the correct order */
@layer mantine, mantine-contextmenu;


.mantine-Input-wrapper {
  --input-bg: "transparent" !important;
  --input-bd: #017990 !important;
  --input-bd-focus: #017990 !important;
  --input-color: #ffffff !important;
}

.mantine-Input-input {
  color: var(--input-color) !important;
}
